@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial,Helvetica,sans-serif;
}
.section{
    padding: 6em 8em;
}
.header__bg{
    background-image: url('images/car_bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.nav{
    padding: 3rem 2rem;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 90;
    /* background: #333; */
    background:transparent;
    transition: 0.8s ease;
}
.header.fixed{
    background-color: #333;
    box-shadow: 2px 2px #ca993b;
}
.nav__menu{
    margin-left: 30rem;
}
.nav__list{
    display: flex;
}
.nav__item{
     list-style: none;
}
.nav__item a {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
}
.nav__link{
    font-size: 1.3rem;
    font-family: 'comic nuer', cursive;
    margin-left: 2.5rem;
    font-weight: 700;
}
@media screen and (max-width:768px){
     .nav{
        padding: 1.5rem;
     }
     .nav__menu{
        position: fixed;
        top: 3rem;
        right:-100%;
        width: 60%;
        height: 100%;
        padding: 0.5rem;
        background-color: #333;
        transition: 0.5s;
     }
     .nav__toggle{
        color: #ca993b;
        font-size: 2rem;
        cursor: pointer;
        display: flex;
        z-index: 1000;
     }
     .nav__list{
        display: flex;
        flex-direction: column;
        margin-top:3rem;
     }
     .nav__item{
        margin: 2rem 0;
     }
     .nav__item a{
        color: #ca993b;
     }
     .show{
        right: 0;
     }
}
@media screen and (min-width:768px){
    .nav{
        height: 1rem;
    }
    .nav__toggle{
        display: none;
    }
}
/*about*/
.about{
    background-image: url('images/about_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.about__title{
    padding-top: 2rem;
    display: flex;
    justify-content: center ;
}
.about__txt{
    margin-top: 4rem;
    max-width: 50%;
    font-size: 1.2rem;
    text-align: justify;
}

@media screen and (max-width: 768px){
    .about__txt{
        max-width: 100%;
    }
    .about__txt p{
        line-height: 1;
    }
}
/* products */
.section__products{
    padding: 2rem 3rem;
    background: #e6e6e6;
}
.product__images{
    display: grid;
    grid-template-columns: repeat(3, 280px);
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 2rem;
}
.product__image{
    flex:1 1 20%;
    background: #333;
    height: 20rem;
}
.product__image img{
    width: 100%;
    height: 15rem;
    margin-top: 2.5rem;
}
.product__btn{
    margin-top: 2rem;
    text-align: center;
}
.btn{
    padding: 1rem 1rem;
    background-color: #333;
    color: #ca993b;
    font-size: 1.5rem;
    border: none;
    text-decoration: none;
}
@media screen and (max-width: 768px){
    .product__images{
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
    }
    .product__image img{
        margin: 1.5rem 0;
    }
} 

/* contact */
.section__contact{
    padding: 2rem;
}
.form{
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
}
.form .form__contact{
     flex-basis: 70%;
}
.form .form__cont,
.form__area{
    display: block;
    padding: 1rem;
    width: 90%;
    margin-bottom: 1rem;
}
.form__cont::placeholder,
.form__area::placeholder{
    color: #ca993b;
}
.form__area{
    height: 6rem;
}
.form .button{
    display: block;
    padding: 1rem 3rem;
    background-color: #ca993b;
    color: #fff;
    font-size: 1.2rem;
    border: none;
}
.form .form__detail{
    flex-basis: 20%;
}
.icon i{
    background: #ca993b;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.2rem;
}
@media screen and (max-width: 768px){
    .form{
        flex-direction: column;
    }
    .form__contact,
    .form__detail{
     width: 100%;
    }
    .form__contact{
        margin-bottom: 2rem;
    }
}

/* footer */
.footer{
    background-color: #ca993b;
    height: 14rem;
    text-align: center;
}
.social__media {
    padding-top: 4rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.social__media a{
    background-color: #fff;
    border-radius: 10px;
    padding: 0 0.3rem;
    font-size: 2rem;
    margin-left: 1rem;
    text-decoration: none;
}
.social__media i{
    color: #ca993b;
    font-size: 1.5rem;
    text-align: center;
}
.footer__icon i{
    color: #ca993b;
    font-size: 1.8rem;
    text-align: center;
    margin-left: 0.5rem;
}
.footer__txt{
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}